.container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}


.child {
  /* background: red; */
  /* flex-basis: 100%; */
  padding: 5px;
}

.fa-vest {
  flex-basis: 100%;
  text-align: center;
  display: block;
}