.tracking_container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.tracking_child {
  /* background: red; */
  /* flex-basis: 100%; */
  padding: 5px;
}

.tracking_child>p {
  flex-basis: 100%;
  color: red;
}

#helper-text {
  display: block;
  width: 100%;
  text-align: center;
}

#helper-text>p {
  color: red;
}

#status-area {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

#status-area h1 {
  color: rgb(0, 0, 0);
}

#status-area p {
  font-size: 1.5rem;
}




.fa-vest {
  flex-basis: 100%;
  text-align: center;
  display: block;
}