.report_container {
  text-align: center;
  margin: 3% 15% 0% 15%;
}

.report_container h1 {
  font-size: 50px;
  margin: 0;
}

.report_container h2 {
  font-size: 30px;
}



table,
th,
td {
  border: 1px solid black;
  margin: 0 auto;
}


table tr td:nth-child(1) {
  width: 25%;
}

table tr td:nth-child(2) {
  width: 25%;
}

table tr td:nth-child(3) {
  width: 25%;
}

table tr td:nth-child(4) {
  width: 12.5%;
}

table tr td:nth-child(5) {
  width: 12.5%;
}


@media screen and (max-width: 960px) {

  table tr th:nth-child(1) {
    display: none;
  }

  table tr td:nth-child(1) {
    display: none;
  }
}